.form {
  width: 648px;
  min-height: 732px;
  padding: 32px;
  margin: 0 0 24px 0;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
    0px 4px 16px rgba(231, 232, 235, 0.6);
}
