.check__title {   
    width: 216px;
    height: 24px;
    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
    margin: 0px 0px;
    padding-left: 10px; 
}
