.card__course-description {
    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 448px;
    height: 72px;
}