.filter-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 248px;
    height: 57px;
    left: 32px; 

    flex: none;
    order: 3;
    align-self: center;
    flex-grow: 0;
    margin-bottom: 32px;

    border-top: 1px solid #E6E7EB;
    
}