.button-default_orange {
    background-color: #FF6600;
    color: #FFFFFF;
    cursor: pointer;
    pointer-events: auto;
}

.button-default_orange:hover{
    background-color: #F06000;
}

.button-default_orange:disabled {
    background-color: #e6e7eb;
    color: #9397a3;
  }