.profile-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 312px;
  height: 520px;
  width: calc(100% - 2 * 32px);
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
  border-radius: 16px;
  gap: 32px;
}