.button-default{
    background-color: #E6E7EB;
    color: #9397A3;
    width: 224px;
    height: 48px;
    border-radius: 16px;
    padding: 12px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
