.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}

.checkbox-container:first-child{
    margin-top: 0px;
}

.check:hover{
	cursor: pointer;
	opacity: .6;
}

.checkbox-container:checked{
	color: #F06000;
}
