.button-primary {
    background-color: #FF6600;
    color: #FFFFFF;
    cursor: pointer;
    pointer-events: auto;
}

.button-primary:hover{
    background-color: #F06000;
}

.button-primary:disabled {
    background-color: #e6e7eb;
    color: #9397a3;
  }