.header {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
  justify-content: space-between;
  align-items: center;
  height: 84px;
  width: 1440px;
}
