.filters-tag__item-text{
	max-width: 116px;
    margin: 0;
    padding: 0px 8px;
    font-size: 18px;
    line-height: 24px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
