.card-course__level {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background: #E6E7EB;
    border-radius: 16px;
    padding: 0px 8px;
    color: #212329;
}
