.button-default_white {
    background-color: #FFFFFF;
    color: #FF6600;
    border: 1.2px solid #E6E7EB;
    cursor: pointer;
}

.button-default_white:hover{
    box-shadow: 0px 0px 2px rgba(231, 232, 235, 0.6), 0px 4px 8px rgba(231, 232, 235, 0.6);
}
