.cards-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 984px;
}.card__additional-info-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-end;
    gap: 8px;
}

.card__course-image {
    border-radius: 16px;
    width: 200px;
    height: 240px;
}

.card__course-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 24px;
    height: 240px;
    width: 100%;
}

.card__course-title {
    font-family: Golos;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #212329;
    line-height: 28px;
}

.card__course-level {
    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background: #E6E7EB;
    border-radius: 16px;
    padding: 0px 8px;
    color: #212329;
}

.card__course-description {
    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 448px;
    height: 72px;
}
.card__course {
    width: 100%;
    height: 240px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
    border-radius: 16px;
}

.button-default{
    width: 224px;
    height: 48px;
    border-radius: 16px;
    padding: 12px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.button-default-orange {
    background-color: #FF6600;
    color: #FFFFFF;
    cursor: pointer;
}

.button-default-white {
    background-color: #FFFFFF;
    color: #FF6600;
    border: 1.2px solid #E6E7EB;
    cursor: pointer;
}

.card__additional-info-items {
    margin-bottom: 0px;
}

.card__course-info {
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__additional-info-items {
    margin-bottom: 0px;
    padding: 0;
}


.card__additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 32px;
    flex-wrap: nowrap;
}

.card__course-lessons-hours {
    padding: 0;
    margin: 0;
}
.card__additional-info-items {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
}