.filters-header__button-text {
    width: 84px;
    height: 24px;
    font-family: Golos;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212329;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
