.profile-card__name {
  max-width: 248px;
  width: 100%;
  margin: 16px 0 0;
  color: #212329;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}