@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__items/menu__items.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__link/_active/menu__link_active.css);