.form__inputarea {
  width: 584px;
  height: 48px;
  border-radius: 16px;
  border: 1.2px solid #9397a3;
  box-sizing: border-box;
  padding: 12px 16px;
  color: #9397a3;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.form__inputarea:focus {
  outline-color: #ff6600;
}

.form__inputarea:hover{
  border: 1.2px solid #ff6600;
}

.form__inputarea:nth-child(2)::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}