.form__savebutton {
  width: 246px;
  height: 48px;
  border-radius: 16px;
  background-color: #ff6600;
  color: #ffffff;
  border: none;
  margin: 32px auto 0 auto;
  display: block;
  font-family: Golos;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.form__savebutton:active {
  background-color: #e6e7eb;
  color: #9397a3;
}