.chips{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #E6E7EB;
    border-radius: 16px;
    margin-right: 8px;
	margin-bottom: 8px;
    /*visibility: hidden;*/
}
