.filters{
    width: 312px;
    min-height: 448px;

    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 
                0px 4px 16px rgba(231, 232, 235, 0.6);
    border-radius: 16px;
}