.card-course__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 448px;
    height: 72px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}