@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__items/menu__items.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__link/_active/menu__link_active.css);
@import url(../blocks/main/__title/main__title.css);

@import url(../blocks/sections/sections.css);
@import url(../blocks/sections/__filters/sections__filters.css);
@import url(../blocks/sections/__cards/sections__cards.css);


@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__list/profile__list.css);
@import url(../blocks/profile/__help-info/profile__help-info.css);
@import url(../blocks/profile/__help-info-list/profile__help-info-list.css);

@import url(../blocks/filters/filters.css);
@import url(../blocks/filters/_open/filters_open.css);
@import url(../blocks/filters/__button/filters__button.css);
@import url(../blocks/filters/__button/_open/filters__button_open.css);
@import url(../blocks/filters/__header/filters__header.css);
@import url(../blocks/filters/__item/filters__item.css);
@import url(../blocks/filters/__options/filters__options.css);
@import url(../blocks/filters/__options/_opened/filters__options_opened.css);
@import url(../blocks/filters/__point/filters__point.css);
@import url(../blocks/filters/__reset-button/filters__reset-button.css);
@import url(../blocks/filters/__reset-button/_active/filters__button_active.css);
@import url(../blocks/filters/__text/filters__text.css);
@import url(../blocks/filters/__title/filters__title.css);

@import url(../blocks/checkbox-container/checkbox-container.css);
@import url(../blocks/checkbox-container/__input-hidden/checkbox-container__input-hidden.css);
@import url(../blocks/checkbox-container/__content/checkbox-container__content.css);

@import url(../blocks/chips-container/chips-container.css);
@import url(../blocks/chips/chips.css);
@import url(../blocks/chips/__text/chips__text.css);
@import url(../blocks/chips/__close-button/chips__close-button.css);

@import url(../blocks/profile-card/profile-card.css);
@import url(../blocks/profile-card/__status/profile-card__status.css);
@import url(../blocks/profile-card/__name/profile-card__name.css);
@import url(../blocks/profile-card/__general/profile-card__general.css);
@import url(../blocks/profile-card/__exit-button/profile-card__exit-button.css);
@import url(../blocks/profile-card/__avatar/profile-card__avatar.css);
@import url(../blocks/profile-card/__list/profile-card__list.css);
@import url(../blocks/profile-card/__list/__cell/profile-card__cell.css);
@import url(../blocks/profile-card/__info-block/profile-card__info-block.css);
@import url(../blocks/profile/__text/profile__text.css);

@import url(../blocks//button/button.css);
@import url(../blocks/button/_type/button_type_primary.css);
@import url(../blocks/button/_type/button_type_secondary.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/_type/form_type_personal.css);
@import url(../blocks/form/_type/form_type_account.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__inputfields/form__inputfields.css);
@import url(../blocks/form/__inputlabel/form__inputlabel.css);
@import url(../blocks/form/__inputfield/form__inputfield.css);
@import url(../blocks/form/__inputarea/form__inputarea.css);
@import url(../blocks/form/__inputimage/form__inputimage.css);
@import url(../blocks/form/__button/form__button.css);

@import url(../blocks/card-course/card-course.css);
@import url(../blocks/card-course/__additionalinfo-image/card-course__additionalinfo-image.css);
@import url(../blocks/card-course/__additionalinfo/card-course__additionalinfo.css);
@import url(../blocks/card-course/__description/card-course__description.css);
@import url(../blocks/card-course/__image/card-course__image.css);
@import url(../blocks/card-course/__info/card-course__info.css);
@import url(../blocks/card-course/__item/card-course__item.css);
@import url(../blocks/card-course/__items/card-course__items.css);
@import url(../blocks/card-course/__lessons-hours/card-course__lessons-hours.css);
@import url(..//blocks/card-course/__level/card-course__level.css);
@import url(../blocks/card-course/__title/card-course__title.css);
@import url(../blocks/card-course/__wrapper/card-course__wrapper.css);