.filters-header__button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border: none;
    background-color: #FFFFFF;
    visibility: hidden;
	width: 84px;
    height: 24px;
    font-family: Golos;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filters-header__button:hover{
	cursor: pointer;
	opacity: .6;
}
