.filter-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 32px 0px 0px 0px;
    list-style: none;
    position: absolute;
    z-index: -1;
}
