.checkbox-container__content {
	display: flex;
    align-items: center;
    cursor: pointer;
    width: 216px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
    margin: 0px 0px;
    padding-left: 10px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.checkbox-container__content::before{
	content: "";
	display: inline-block;
	width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 2H4C2.89543 2 2 2.89543 2 4V16C2 17.1046 2.89543 18 4 18H16C17.1046 18 18 17.1046 18 16V4C18 2.89543 17.1046 2 16 2ZM4 0C1.79086 0 0 1.79086 0 4V16C0 18.2091 1.79086 20 4 20H16C18.2091 20 20 18.2091 20 16V4C20 1.79086 18.2091 0 16 0H4Z' fill='%23212329'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
    cursor: pointer;
}
