.button {
    background-color: #E6E7EB;
    color: #9397A3;
    width: 224px;
    height: 48px;
    border-radius: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    pointer-events: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.button:disabled {
    background-color: #e6e7eb;
    color: #9397a3;
  }