.filters-list__point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 248px;
    min-height: 57px;
    left: 32px;
    flex: none;
    order: 3;
    align-self: center;
    flex-grow: 0;
    margin-bottom: 32px;
    border-top: 1px solid #E6E7EB;
}

.filters-list__point:hover > .filters__options{
    position: static;
    z-index: 1;
}

.filters-list__point:hover > .filters-list__item > .filters-list__button{
    transform: rotate(180deg);
}
