.filters-header__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 84px;
    height: 28px;
    border: none;
    background-color: #FFFFFF;
    visibility: hidden;
}