.option__button{
  background-image: url('../../../../images/close.svg');
  background-color: transparent;
  margin: 2px 2px 0 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  border: none;
}